__pycache__/
build/
dist/
build_env/
.idea/
secrets/
*.spec
desktop_app/images/
scraping/images_jpg/
models/
llm_family_cache.json
# Web App Backups & Env
offer_webapp/backup_ui/
offer_webapp/.env.local
offer_webapp/.env

# Node Modules
node_modules/
*/node_modules/
